
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

.reveal {
    font-family: "Lato", sans-serif;
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 0.02em;
    color: #eeeeee;
}

.reveal .footer-logos {
    z-index: 10;
    position: fixed;
    left: 30px;
    bottom: 20px;
}

.reveal .footer-logos .ts {
    width: 82px;
    margin-top: -35px;
}

.reveal .footer-logos .fuse {
    width: 120px;
    margin-left: 15px;
    margin-top: -30px;
}

.reveal section .no-border {
    border: none;
    box-shadow: none;
    background: none;
}

.reveal .slides .fuse-landscape {
    height: 350px;
}

.reveal #fuse-logo{
    height: 30px;
    width: 70px;
}

.boring body {
    background: url("../../img/boring.gif");
    background-position: center;
    background-size: 100%;
    background-color: black;
    background-repeat: no-repeat;
}

.reveal .transparent-quote{
    background-color: transparent;
}